<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyq.mapper.UserMapper">
	<!-- 按条件查询用户信息 -->
	<select id="getUserByNamePhone" resultType="user">
		select * from t_user 
		<where>
			<if test="param1 != '' and param1 != null">
				uname = #{param1}
			</if>
			<if test="param2 != '' and param2 != null">
				and uphone = #{param2}
			</if>
		</where>
	</select>
</mapper>